.cta-btn-delete {
  background-color: #f13c36;
  color: #5a0000;
  border: 1px solid #f13c36;

  &:hover {
    background-color: #5a0000;
    color: #f13c36;
    outline: none;
    border: 1px solid #5a0000;
  }
}
// li:has(> a.active) { /* styles to apply to the li tag */ }
