.ant-spin-nested-loading,
.ant-spin-container,
.ant-drawer-body > div,
form {
  height: 100%;
}

.ant-drawer-body {
  padding: 0;
}

.ant-form {
  // position: relative;
  margin-bottom: auto;
  padding: 20px 0 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: rgb(161, 161, 161);
}
// li:has(> a.active) { /* styles to apply to the li tag */ }
