.fc-header-toolbar,
.fc .fc-button-group > .fc-button {
  text-transform: uppercase;
  button {
    text-transform: uppercase;
  }
}
.fc {
  .fc-daygrid-event-harness {
    margin-bottom: 2px;
  }
}
.fc-daygrid-event {
  // padding: 5px;

  .event {
    width: 100%;

    .doc,
    .px {
      padding: 0 5px;
      white-space: initial;
      font-size: 70%;
      .caRd {
        border-radius: 3px;
        background-color: #989898;
        padding: 5px;
        color: #f9f9f9;
      }
    }

    .time {
      text-align: center;
      font-weight: bold;
    }
    .status {
      padding: 0 5px;
      text-align: center;
      font-weight: bold;
      font-size: 70%;
    }
  }

  &.status-OPEN {
    background-color: #b1ccde;
  }

  &.status-BOOKED {
    background-color: #b1deb5;
  }

  &.status-RESERVED {
    background-color: #ded7b1;
  }
}
