.fc-toolbar {
  button {
    text-transform: uppercase;
  }
}

.fc-daygrid-event {
  // padding: 5px;

  .event {
    width: 100%;
    .time {
      text-align: center;
      font-weight: bold;
    }
    .status {
      padding: 0 5px;
      text-align: center;
      font-weight: bold;
      font-size: 70%;
    }

    .doc {
      padding: 0 5px;
      white-space: break-spaces;
      font-size: 70%;
    }

    .px {
      padding: 0 5px;
      white-space: break-spaces;
      font-size: 70%;
    }
  }

  &.status-OPEN {
    background-color: #b1ccde;
  }

  &.status-BOOKED {
    background-color: #b1deb5;
  }

  &.status-RESERVED {
    background-color: #ded7b1;
  }
}
